.container {
  margin:50px;
}

.card {
  border-bottom: 1px solid #F7F6F6;
  text-align: left;
  padding: 20px;
  
  >* {
    margin: 0 auto;
  }
  img {
    width: 80px;
    height: 80px;
  }
}
.card:first-of-type {
  border-top: 1px solid #F7F6F6;
}